/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --card__text-weight: 700;
    --card__header-weight: 400;
    --background-color: #fff;
    --accent-color: #000;
}

:root.theme-dark {
    --card__text-weight: 785;
    --card__header-weight: 465;
    --background-color: #000;
    --accent-color: #00CC14;
}